/.cproject
CMakeFiles
cmake_install.cmake
CMakeCache.txt
config.h
CTestTestfile.cmake
*.so
Makefile
/.settings
/.project
/.kdev4/
/Doxygen.log
/autodoc/
/bin/gel-line
/gel++.kdev4
/install_manifest.txt
